NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:8001
NEXT_PUBLIC_USER_SERVICE_URL=http://localhost:8002
NEXT_PUBLIC_BOARD_SERVICE_URL=http://localhost:8003
NEXT_PUBLIC_TASK_SERVICE_URL=http://localhost:8004
